$primary: black;
$secondary: gold;
$secondary-hover: rgb(179, 153, 8);
$extra: rgb(226, 226, 226);

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: $primary;
}

.search-panel{
    display: flex;
    justify-content: center;
}

.input{
    border: none;
    background-color: white;
    padding: 10px;
    width: 300px;
    display: flex;
    margin: 10px 0px;
}

.search-button{
    border: none;
    border-radius: 3px;
    background-color: $secondary;
    width: 100px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.search-button:hover{
    background-color: $secondary-hover;
}


